<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleDisplayName</key>
	<string>${PRODUCT_NAME}</string>
	<key>CFBundleExecutable</key>
	<string>${EXECUTABLE_NAME}</string>
	<key>CFBundleIconFile</key>
	<string>${HOB_APPLICATION_ICON_NAME}</string>
	<key>CFBundleIdentifier</key>
	<string>${HOB_APPLICATION_BUNDLE_IDENTIFIER}</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>${PRODUCT_NAME}</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>1.0</string>
	<key>GitHubApiBaseUrl</key>
	<string>https://github.com/api/</string>
	<key>GitHubApiFormat</key>
	<string>1</string>
	<key>GitHubNewsFeedBaseUrl</key>
	<string>https://github.com/</string>
	<key>GravatarApiBaseUrl</key>
	<string>http://www.gravatar.com/avatar/</string>
	<key>GravatarDefaultAvatarUrl</key>
	<string>http://www.gravatar.com/avatar/eb61696bdb25e6179eb8db5959e63b13.png</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSMainNibFile</key>
	<string>MainWindow</string>
	<key>SBUsesNetwork</key>
	<true/>
</dict>
</plist>
